.header {
  grid-column: 1/-1;
  grid-row: 1;
  width: 100%;
  min-height: 100px;
  background-color: #428dff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Permanent Marker", cursive;
}

.scoreWrap {
  justify-content: center;
  justify-items: center;
  padding: 10px;
  white-space: nowrap;
}

.scoreBoard {
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 18px;
  color: #e9e9e9;
  grid-gap: 10px;
}

.titleWrap {
  color: #e9e9e9;
  justify-self: center;
  align-self: center;
}

h1 {
  font-size: 28px;
}
